
.idea/.name
assignment1/.idea/assignment1.iml
assignment1/.idea/misc.xml
assignment1/.idea/modules.xml
assignment1/.idea/vcs.xml
assignment1/cmake-build-debug/.cmake/api/v1/query/cache-v2
assignment1/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
assignment1/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
assignment1/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
assignment1/cmake-build-debug/.cmake/api/v1/reply/cache-v2-3abb80cee55e9b24ce4d.json
assignment1/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-6ab835a08fb9ae080c96.json
assignment1/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-511989140ceee64662b0.json
assignment1/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
assignment1/cmake-build-debug/.cmake/api/v1/reply/index-2023-03-12T12-54-48-0372.json
assignment1/cmake-build-debug/.cmake/api/v1/reply/target-assignment1-Debug-321a47680a745b4786ec.json
assignment1/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-f79ff1713c363f143837.json
assignment1/cmake-build-debug/.ninja_deps
assignment1/cmake-build-debug/.ninja_log
assignment1/cmake-build-debug/assignment1.exe
assignment1/cmake-build-debug/build.ninja
assignment1/cmake-build-debug/cmake_install.cmake
assignment1/cmake-build-debug/CMakeCache.txt
assignment1/cmake-build-debug/CMakeFiles/3.24.2/CMakeCCompiler.cmake
assignment1/cmake-build-debug/CMakeFiles/3.24.2/CMakeCXXCompiler.cmake
assignment1/cmake-build-debug/CMakeFiles/3.24.2/CMakeDetermineCompilerABI_C.bin
assignment1/cmake-build-debug/CMakeFiles/3.24.2/CMakeDetermineCompilerABI_CXX.bin
assignment1/cmake-build-debug/CMakeFiles/3.24.2/CMakeRCCompiler.cmake
assignment1/cmake-build-debug/CMakeFiles/3.24.2/CMakeSystem.cmake
assignment1/cmake-build-debug/CMakeFiles/3.24.2/CompilerIdC/a.exe
assignment1/cmake-build-debug/CMakeFiles/3.24.2/CompilerIdC/CMakeCCompilerId.c
assignment1/cmake-build-debug/CMakeFiles/3.24.2/CompilerIdCXX/a.exe
assignment1/cmake-build-debug/CMakeFiles/3.24.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
assignment1/cmake-build-debug/CMakeFiles/assignment1.dir/chromosome.cpp.obj
assignment1/cmake-build-debug/CMakeFiles/assignment1.dir/gene.cpp.obj
assignment1/cmake-build-debug/CMakeFiles/assignment1.dir/main.cpp.obj
assignment1/cmake-build-debug/CMakeFiles/assignment1.dir/population.cpp.obj
assignment1/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
assignment1/cmake-build-debug/CMakeFiles/clion-environment.txt
assignment1/cmake-build-debug/CMakeFiles/cmake.check_cache
assignment1/cmake-build-debug/CMakeFiles/CMakeOutput.log
assignment1/cmake-build-debug/CMakeFiles/rules.ninja
assignment1/cmake-build-debug/CMakeFiles/TargetDirectories.txt
assignment1/cmake-build-debug/Testing/Temporary/LastTest.log
assignment2/.idea/assignment2.iml
assignment2/.idea/misc.xml
assignment2/.idea/modules.xml
assignment2/.idea/vcs.xml
assignment2/cmake-build-debug/.cmake/api/v1/query/cache-v2
assignment2/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
assignment2/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
assignment2/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
assignment2/cmake-build-debug/.cmake/api/v1/reply/cache-v2-4d930a20fe5517467d0c.json
assignment2/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-1e18ff70d14d97c781de.json
assignment2/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-54755a424e0c8343e503.json
assignment2/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
assignment2/cmake-build-debug/.cmake/api/v1/reply/index-2023-03-28T10-54-16-0628.json
assignment2/cmake-build-debug/.cmake/api/v1/reply/target-assignment2-Debug-2153839c9852c70fe20f.json
assignment2/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-f79ff1713c363f143837.json
assignment2/cmake-build-debug/.ninja_deps
assignment2/cmake-build-debug/.ninja_log
assignment2/cmake-build-debug/assignment2.exe
assignment2/cmake-build-debug/build.ninja
assignment2/cmake-build-debug/cmake_install.cmake
assignment2/cmake-build-debug/CMakeCache.txt
assignment2/cmake-build-debug/CMakeFiles/3.24.2/CMakeCCompiler.cmake
assignment2/cmake-build-debug/CMakeFiles/3.24.2/CMakeCXXCompiler.cmake
assignment2/cmake-build-debug/CMakeFiles/3.24.2/CMakeDetermineCompilerABI_C.bin
assignment2/cmake-build-debug/CMakeFiles/3.24.2/CMakeDetermineCompilerABI_CXX.bin
assignment2/cmake-build-debug/CMakeFiles/3.24.2/CMakeRCCompiler.cmake
assignment2/cmake-build-debug/CMakeFiles/3.24.2/CMakeSystem.cmake
assignment2/cmake-build-debug/CMakeFiles/3.24.2/CompilerIdC/a.exe
assignment2/cmake-build-debug/CMakeFiles/3.24.2/CompilerIdC/CMakeCCompilerId.c
assignment2/cmake-build-debug/CMakeFiles/3.24.2/CompilerIdCXX/a.exe
assignment2/cmake-build-debug/CMakeFiles/3.24.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
assignment2/cmake-build-debug/CMakeFiles/assignment2.dir/chromosome.cpp.obj
assignment2/cmake-build-debug/CMakeFiles/assignment2.dir/gene.cpp.obj
assignment2/cmake-build-debug/CMakeFiles/assignment2.dir/main.cpp.obj
assignment2/cmake-build-debug/CMakeFiles/assignment2.dir/population.cpp.obj
assignment2/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
assignment2/cmake-build-debug/CMakeFiles/clion-environment.txt
assignment2/cmake-build-debug/CMakeFiles/cmake.check_cache
assignment2/cmake-build-debug/CMakeFiles/CMakeOutput.log
assignment2/cmake-build-debug/CMakeFiles/rules.ninja
assignment2/cmake-build-debug/CMakeFiles/TargetDirectories.txt
assignment2/cmake-build-debug/Testing/Temporary/LastTest.log
